.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.light {
  background-color: #f4f4f4;
  color: #333;
}

.dark {
  background-color: #1e1e1e;
  color: #fff;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin-bottom: 20px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: #e0e0e0;
}
